h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  margin: 0px;
}

.sidePanel {
  background: #000;
  text-align: center;
  color: #fff;
  border: 1px solid #999;
  padding: 5px;
}

.sidePanel div {
  margin-top: 10px;
}

.mainPanel {
  background: #000;
  text-align: center;
  color: #fff;
  border: 1px solid #999;
  padding: 5px;
}

.gwt-Button {
  width: 100px;
}